* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #409EFF;
  background: #303133;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#__layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
